In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

## Importing and cleaning up data

In [5]:
# Importing csv files and creating dataframes
data_2020 = Path("resources/AB_US_2020.csv")
data_2023 = Path("resources/AB_US_2023.csv")

df_2020 = pd.read_csv(data_2020, low_memory=False)
df_2023 = pd.read_csv(data_2023, low_memory=False)

In [6]:
# Display 2020 data head
df_2020.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [7]:
# Display 2023 data head
df_2023.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,202,2,383,2023-02-19,2.31,1,128,59,San Francisco
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,2017-08-06,0.66,1,365,0,San Francisco
2,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,9,2022-10-27,0.09,13,365,1,San Francisco
3,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77564,-122.43642,Entire home/apt,575,9,28,2019-06-28,0.17,2,365,0,San Francisco
4,8739,"Mission Sunshine, with Private Bath",7149,Ivan & Wendy,NaN,Mission,37.76030,-122.42197,Private room,110,1,770,2023-02-25,4.65,2,159,34,San Francisco

In [8]:
# Show unique cities for 2020 data
df_2020["city"].unique()

array(['Asheville', 'Austin', 'Boston', 'Broward County', 'Cambridge',
       'Chicago', 'Clark County', 'Columbus', 'Denver', 'Hawaii',
       'Jersey City', 'Los Angeles', 'Nashville', 'New Orleans',
       'New York City', 'Oakland', 'Pacific Grove', 'Portland',
       'Rhode Island', 'Salem', 'San Clara Country', 'San Diego',
       'San Francisco', 'San Mateo County', 'Santa Cruz County',
       'Seattle', 'Twin Cities MSA', 'Washington D.C.'], dtype=object)

In [45]:
df_2020.loc["city"] == "Salem"

KeyError: 'city'

In [12]:
# Show unique columns for the 2020 data
df_2020.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

In [9]:
# Show unique cities for 2023 data
df_2023["city"].unique()

array(['San Francisco', 'Washington D.C.', 'Oakland', 'Jersey City',
       'New Orleans', 'Los Angeles', 'New York City', 'Cambridge',
       'Santa Clara County', 'Asheville', 'Salem', 'Columbus',
       'Rhode Island', 'San Diego', 'Nashville', 'Santa Cruz County',
       'Denver', 'Chicago', 'Austin', 'Pacific Grove', 'Portland',
       'Seattle', 'Twin Cities MSA', 'Broward County', 'Clark County',
       'Boston', 'San Mateo County'], dtype=object)

In [13]:
# Show unique columns for the 2023 data
df_2023.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'city'],
      dtype='object')

## Narrow the data to the target cities

In [42]:
# Narrow the data to only San Francisco, New York City, and Twin Cities MSA
df_2020 = df_2020.loc[(df_2020["city"] == "San Francisco") | (df_2020["city"] == "New York City") | (df_2020["city"] == "Twin Cities MSA")]
# df_2020 = df_2020.loc[df_2020["city"] == "San Francisco"]
# df_2020 = df_2020.loc[(df_2020.city == "San Francisco") | (df_2020.city == "New York City") | (df_2020.city == "Twin Cities MSA")]

df_2020["city"].unique()
# df_2020.head()

array([], dtype=object)

## Narrow the data to the target columns

In [43]:
# Select specific columns for review
df_2020 = df_2020.loc[["id", "name", "neighborhood", "latitude", "longitude", "room_type", "price", "minimum_nights", "number_of_reviews", "availability_365", "city"]]

# Rename the columns
df_2020 = df_2020.rename(columns={"id": "Listing ID", 
                                  "name": "Description", 
                                  "neighborhood": "Neighborhood", 
                                  "latitude": "Latitude", 
                                  "longitude": "Longitude", 
                                  "room_type": "Listing Type", 
                                  "price": "Price", 
                                  "minimum_nights": "Minimum Nights", 
                                  "number_of_reviews": 
                                  "Number of Reviews", 
                                  "availability_365": "Availability", 
                                  "city": "City"})

# Reorganize the columns
df_2020 = df_2020[["Listing ID", "City", "Neighborhood", "Latitude", "Longitude", "Listing Type", "Price", "Minimum Nights", "Availability", "Number of Reviews"]]

# Set the index to listing id
df_2020 = df_2020.set_index("Listing ID")

df_2020.head()

KeyError: "None of [Index(['id', 'name', 'neighborhood', 'latitude', 'longitude', 'room_type',\n       'price', 'minimum_nights', 'number_of_reviews', 'availability_365',\n       'city'],\n      dtype='object')] are in the [index]"

## Exporting finished dataframes to csv files

In [29]:
# Save finished dataframes as csv files
df_2020.to_csv("output/clean_2020.csv", index=True)
df_2023.to_csv("output/clean_2023.csv", index=True)